#comment-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #b8b8b8
}

#comment-list {
    list-style-type: none;
    padding: 0;
}

#comment-list li {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input,
textarea,
button {
    margin-bottom: 10px;
}
